@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Untuk browser berbasis WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px; /* Lebar scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Warna latar belakang scrollbar */
}

::-webkit-scrollbar-thumb {
  background: #ffcc00; /* Warna pegangan scrollbar */
  border-radius: 10px; /* Membuat sudut pegangan melengkung */
}

::-webkit-scrollbar-thumb:hover {
  background: #ffaa00; /* Warna pegangan saat dihover */
}

/* Untuk Firefox */
html {
  scrollbar-color: #ffcc00 #f1f1f1; /* (warna thumb, warna track) */
  scrollbar-width: thin; /* Bisa 'auto', 'thin', atau 'none' */
}
